<h1>Travel Details: </h1>

<h2>@Model.GetCityName()</h2>
<h2>@Model.GetDescription()</h2>
<img src="@Model.GetPicture()"> <br>
<a href='/places/new'>Add another item</a>
<a href='/places'>View all items</a>